<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CRM Backend</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
  <div class="contenedor">
    <h1>CRM - Sistema de Gestión Comercial</h1>
    <p>Bienvenido al frontend de prueba del sistema.</p>

    <div class="menu">
      <a class="boton" href="/clientes-ui">Ir a Clientes</a>
      <a class="boton" href="/productos-ui">Ir a Productos</a>
      <a class="boton" href="/ventas-ui">Ir a Ventas</a>
    </div>
  </div>
</body>
</html>